<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>356282456279-orrhu1e2oh0u0q4009tthb7f0sqbdk20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356282456279-orrhu1e2oh0u0q4009tthb7f0sqbdk20</string>
	<key>API_KEY</key>
	<string>AIzaSyDsSB7h5pfJqydls7z-bbPWwt4Y3pxQdck</string>
	<key>GCM_SENDER_ID</key>
	<string>356282456279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Elsiesy-Inc.BPA</string>
	<key>PROJECT_ID</key>
	<string>bpa-project-7095e</string>
	<key>STORAGE_BUCKET</key>
	<string>bpa-project-7095e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:356282456279:ios:9bb05dd0492a976b</string>
	<key>DATABASE_URL</key>
	<string>https://bpa-project-7095e.firebaseio.com</string>
</dict>
</plist>
